.header {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(15,31,52,.4);
  background: #0f2035;
  transition: background-color .3s, transform .3s cubic-bezier(.7,0,.25,1),box-shadow .3s cubic-bezier(.7,0,.25,1);
}

.header.transparent {
  background: #224365;
  box-shadow: none;
}

.brand-logo,
.notification-icon {
  height: 60px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.brand-logo {
  width: 74px;
  background-size: contain;
  background-image: url('/assets/github-logo.png');
}

.notification-icon {
  width: 50px;
  background-image: url('/assets/notification-icon.png');
  background-size: 15px 17px;
}