@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: .25rem solid rgba(255,255,255,0.2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}