.main-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  box-shadow: -3px 0 5px 0 rgba(15,31,52,.4);
  background: #0f2035;
  transition: transform .3s cubic-bezier(.7,0,.25,1), box-shadow .3s cubic-bezier(.7,0,.25,1)
}